@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.audioController {
  width: 16rem;
  height: 2.4rem;
}

.buttons {
  border: none !important;
  background-color: inherit !important;
  cursor: pointer;
}

.micOn {
  display: flex;
  gap: 0.5rem;
}

.micIcon {
  background-color: rgb(219, 220, 224);
  border-radius: 50%;
  padding: 0.3rem;
}

.iconAnimation {
  background-color: blue($color: #92afee);
  animation: bounce 2.5s 1.5s infinite;
}
